.Navbar {
    height: 70px;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #ffffff;
    cursor: default;
}

.border {
    width: 1500px;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.input {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
}

.input::placeholder {
    color: #3c3c3c;
    font-weight: bold;
    font-style: italic;
}

.title {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
