.Navbar {
    height: 70px;
    width: 1550px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    cursor: default;
    transition: 1s;
}

.title {
    cursor: pointer;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 30px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.switcher {
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}

.switcher:active {transform: scale(0.9);}

.switchText{
    color: black;
    display: inline;
}

.signSection {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.signIn {
    color: black;
    font-weight: normal;
    display: inline;
}

.hello {
    width: 40px;
    margin: 5px;
    display: inline;
}

.switcher img {
    width: 60px;
}

/*Night mode*/

.switchText[data-theme='true'] {
    color: white;
    display: inline;
}

.signIn[data-theme='true'] {
    color: white;
}
