.MovieCard {
    margin: 10px;
    transition: 0.5s;
    height: 550px;
    width: 372px;
    cursor: pointer;
}

.MovieCard:hover {
    transform: scale(1.01);
}

.info {
    display: flex;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
    bottom: 105px;
    background: rgba(0, 0, 0, 0.5);
}

.info p {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.border {
    border-bottom: 1px solid white;
    width: 200px;
    margin: 10px auto 10px auto;
}

.badgesSection {
    display: flex;
}

.rating {
    position: relative;
    top: 15px;
    left: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.ratingSection {
    position: absolute;
}