.outlet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.MainLayout {
    transition: 0.5s;
    margin: 0 auto;
}

/*Night mode*/

.MainLayout[data-theme='true'] {
    background: #202630;
}